.outer {
	max-width: 800px;
	font-size: 0;
    background: linear-gradient(#195797,#165391);
}

.square {
	position: relative;
  	width: 28%;
  	padding: 7px;
}

.square:after {
  	content: "";
  	display: block;
}

.circle {
	cursor: pointer;
	width: 100%;
	border-radius: 50%;
	background: #009aff;
}

.circle:after {
	content: "";
  	display: block;
  	padding-bottom: 100%;
}

.right {
	float: right;
}

.left {
	float: left;
}

.middle {
  	margin: 0 auto;
}

.circle-text {
	position: absolute;
	left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	color: #cfe5fb;
	font-weight: 700;
	font-size: 4vw;
}