<div class="playground-content">
  <h4>More content will appear here shortly.</h4>
	<p>Responsive 3 circles in a row</p>
	<div class="outer middle">
    <div class="square right">
      <div class="circle"></div>
      <span class="circle-text">Third</span>
    </div>  
    <div class="square left">
      <div class="circle"></div>
      <span class="circle-text">First</span>
    </div> 
    <div class="square middle">
      <div class="circle"></div>
      <span class="circle-text">Second</span>
    </div>
  </div>  

  <p>Recursive CSS</p>
  <div class="viewport test staircase">
      <div>
          <div>
              <div>
                  <div>
                      <div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>