@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }
}

@media screen and (min-width: 481px) {
    body {
  		padding: 30px;
    }
}

body {
  font-family: "Segoe UI","Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}

a {
  color: #00B7FF;
}

/*Not sure if this is good - prettify doesn't seem to work properly */
pre.prettyprint {
	border: none !important;
	padding: 0 !important;
}