@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

@media screen and (max-width: 480px) {
    .content {
        padding: 10px;
    }
}

@media screen and (min-width: 481px) {
    .content {
  		padding: 30px;
    }
}

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Segoe UI","Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}

a {
  color: #00B7FF;
}

/*Not sure if this is good - prettify doesn't seem to work properly */
pre.prettyprint {
	border: none !important;
	padding: 0 !important;
  overflow: auto;
}

footer {
  font-size: 12px;
  text-align: center;
  border-top: 1px dashed grey;
}

.footer-icon { 
  height: 25px; 
}
