.ranking {
	display: inline-block;
	position: relative;
    top: 3px;
	border-radius: 50%;
	width: 15px;
	height: 15px; 
	border: 1px solid black;
}
.ranking.filled {
	background-color: green;
}
.ranking-container {
	display: inline-block;
    margin: 0 15px 10px 0;
    width: 105px;
}