.header {
    padding: 36px 0 24px;
    overflow: auto;
    width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 9999;
}

@media screen and (max-width: 540px) {
	.header {
		position: static;
		padding-bottom: 0;
	}
}

.header-title {
  	color: #222;
	min-width: 150px;
	margin: 0 20px;
	cursor: pointer;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.menu {
	margin-left: 20px;
}

@media screen and (max-width: 540px) {
	.menu {
		float: none;
		display: inline-block;
		margin-top: 10px;
	}
}

.menu-main {
	white-space: nowrap;
    padding: 0;
    margin-top: 14px;
    overflow: hidden;
    list-style: none;
}

.menu-item {
	display: inline-block;
	font-size: 15px;
    line-height: 20px;
    font-family: 'Graphik Web',sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: 115px;
}

