<h2>JavaScript in Internet Explorer</h2>

<p>The Trident engine is used by Microsoft in their Internet Explorer browsers. It has become out of date with web standards, so the below table highlights some major differences between Trident and today's more commonly used rendering engine, WebKit.</p>

<p>Microsoft's latest browser, Edge, uses a fork of Trident, called EdgeHTML, which follows web standards more closely.</p>

<!--TODO change this to an ng-repeat-->
<div class="container-fluid">

  <div class="table-row header">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Trident</div>
          <div class="column comment">Webkit</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Notes</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">EventTarget.attachEvent()</div>
          <div class="column comment">EventTarget.addEventListener()</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">document.all.tags("input");</div>
          <div class="column comment">document.getElementsByTagName('input');</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Returns an array</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Element.runtimeStyle</div>
          <div class="column comment">Element.style</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Element.currentStyle.visibility</div>
          <div class="column comment">window.getComputedStyle(Element, null).getPropertyValue("visibility")</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">This is an example of using currentStyle with the 'visibility' attribute. Obviously this can be any style attribute.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Element.pixelHeight</div>
          <div class="column comment">Element.height</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Similar idea for 'width', 'top', 'bottom', 'left', 'right'</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Element.document.body</div>
          <div class="column comment">Element.ownerDocument.body</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node.selectSingleNode("name")</div>
          <div class="column comment">node.getElementsByTagName("name")[0]</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Returns a single element.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node.selectNodes("name")</div>
          <div class="column comment">node.getElementsByTagName("name")</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Returns an array.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node.selectNodes("*")</div>
          <div class="column comment">node.children</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Returns an array.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node.text</div>
          <div class="column comment">node.textContent</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node.cloneNode()</div>
          <div class="column comment">jQuery's node.clone(true, true)</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">jQuery not the perfect solution, but it does a deep copy, including events. Would need to change events to jQuery too though.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Element.filters</div>
          <div class="column comment">Element.style.filter</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">.filters returns a collection of filters on an element. You can set filters in the css and get them using .style.filter.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">table.cells[y]</div>
          <div class="column comment">table.rows[x].cells[y]</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Not an exact replacement, as you need to know the row. A custom method would have to be written to determine the row (if multiple rows exist).</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">ActiveXObject</div>
          <div class="column comment">File write API</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Security issues are making this harder to achieve.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Left click: Event.button === 1 -> returns true</div>
          <div class="column comment">Left click: Event.button === 0 -> returns true</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">Event.srcElement</div>
          <div class="column comment">Event.target</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">This may be more of a problem in Firefox (Gecko), but issues have been found in Webkit, too.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">filter: alpha(opacity=50)</div>
          <div class="column comment">opacity: 0.5</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-row">
    <div class="wrapper attributes">
      <div class="wrapper title-comment-notes-row">
        <div class="wrapper title-comment-row">
          <div class="column title">node instanceof Object -> returns false</div>
          <div class="column comment">node instanceof Object -> returns true</div>
        </div>
        <div class="wrapper notes-row">
          <div class="column notes">Instead use node.constructor.name === "Element" when checking if the node is an element.</div>
        </div>
      </div>
    </div>
  </div>

</div>