<h2>Frontend Developer Essentials</h2>
<p>These are technical things I have come across that I think are essential to be a successful frontend developer.</p>
<h3>Javascript</h3>
<ul>
	<li>Execution context, especially <a target="_blank" href="https://developer.mozilla.org/en/docs/Web/JavaScript/Closures">lexical scope and closures</a>.</li>
	<li>Hoisting, function & block scoping and function expressions & declarations.</li>
	<li>Binding – specifically call, bind, apply and lexical this.</li>
	<li>Object prototypes, constructors and mixins.</li>
	<li>Composition and high order functions.</li>
	<li>Event delegation and bubbling.</li>
	<li><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Equality_comparisons_and_sameness">Type Coercion</a> using typeof, instanceof and Object.prototype.toString.</li>
	<li>Handling asynchronous calls with callbacks, promises, await and async.</li>
	<li>When to use function declarations and expressions.</li>
</ul>
<h3>CSS</h3>
<ul>
	<li>Layout – sitting elements next to each other and how to place elements in two columns vs three columns.</li>
	<li>Responsive design – changing an element’s dimensions based on the browser width size.</li>
	<li>Adaptive design – changing an element’s dimensions based on specific break points.</li>
	<li>Specificity – how to calculate a selector’s specificity and how the cascade affects attributes.</li>
	<li>Appropriate namespacing and naming of classnames.</li>
</ul>
<h3>HTML</h3>
<ul>
	<li>Semantic markup.</li>
	<li>Tag attributes, such as disabled, async, defer and when to use data-*.</li>
	<li>Knowing how to declare your doctype (most people are not writing new pages every day and forget this) and what meta tags are available to use.</li>
	<li>Accessibility concerns, for example, making sure an input checkbox has a larger responding area (use label “for”). Also, role=”button”, role=”presentation”, etc.</li>
</ul>
<h3>DOM</h3>
<ul>
	<li>Selecting or finding nodes using document.querySelector and in older browsers document.getElementsByTagName.</li>
	<li>Traversal up and down – Node.parentNode, Node.firstChild, Node.lastChild and Node.childNodes.</li>
	<li>Traversal left and right – Node.previousSibling and Node.nextSibling.</li>
	<li>Manipulation – add, remove, copy, and create nodes in the DOM tree. You should know operations such as how to change the text content of a node and toggle, remove or add a CSS classname.</li>
	<li>Performance – touching the DOM can be expensive when you have many nodes, you should at least know about document fragments and node caching.</li>
</ul>
<h3>Testing</h3>
<ul>
	<li>Difference between unit, integration and automation/e2e testing.</li>
	<li>Spys and stubs.</li>
	<li>How to run tests in headless browsers.</li>
	<li>....</li>
</ul>
<h3>General Web Knowledge and Performance</h3>
<ul>
	<li>HTTP requests – GET and POST along with associated headers such as Cache-Control, ETag, Status Codes, and Transfer-Encoding.</li>
	<li>REST vs RPC.</li>
	<li>Security – when to use JSONP, CORs, and iFrame policies.</li>
	<li>Service workers.</li>
	<li>Image optimizations.</li>
	<li>General implications of HTTP/2</li>
</ul>
<h3>Data Structures and Algorithms</h3>
<h5>As more and more data is handled by the frontend, an idea </h5>
<ul>
	<li>Basic understanding of Big-O time complexities.</li>
	<li>Common runtimes such as O(N) and O(N Log N).</li>
</ul>






