<div class="company-container">
	<div>
		<a href="http://www.imsmaxims.com/" target="_blank"><img src="ims.png" class="company-logo make-bigger"/></a>
	</div>
	<h4>Where and When</h4>
	<p>Dublin - May '16 to now</p>
	<h4>What I did</h4>
	<p>Creating software for the NHS and Irish HSE. Developing hybrid mobile apps using Ionic.</p>
	<h4>Skills</h4>
	<ranking [title]='"Angular"' [rating]='5'></ranking>
	<ranking [title]='"Ionic"' [rating]='5'></ranking>
	<ranking [title]='"Javascript"' [rating]='4'></ranking>
	<ranking [title]='"HTML"' [rating]='4'></ranking>
	<ranking [title]='"SCSS"' [rating]='4'></ranking>
	<ranking [title]='"Jasmine/Karma"' [rating]='4'></ranking>
	<ranking [title]='"Gulp"' [rating]='3'></ranking>
	<ranking [title]='"Git"' [rating]='3'></ranking>
	<ranking [title]='"Cordova"' [rating]='3'></ranking>
	<ranking [title]='"Jenkins"' [rating]='3'></ranking>
	<ranking [title]='"Protractor"' [rating]='2'></ranking>
</div>	

<div class="company-container">
	<div>
		<a href="http://www.sportsinteraction.com/" target="_blank"><img src="fusioneer.png" class="company-logo"/></a>	
	</div>
	<h4>Where and When</h4>
	<p>Dublin - Feb '15 to Apr '16</p>
	<h4>What I did</h4>
	<p>Software arm of Canadian sportsbook, Sports Interaction. Desktop and mobile development. Dabbled in the whole software development process - UX, front end development, back end development, testing and aiming towards continuous integration.</p>
	<h4>Skills</h4>
	<ranking [title]='"HTML"' [rating]='5'></ranking>
	<ranking [title]='"SCSS"' [rating]='4'></ranking>
	<ranking [title]='"Ember"' [rating]='3'></ranking>
	<ranking [title]='"QUnit"' [rating]='3'></ranking>
	<ranking [title]='"Mercurial"' [rating]='3'></ranking>
	<ranking [title]='"Gitlab"' [rating]='3'></ranking>
	<ranking [title]='"Cucumber"' [rating]='2'></ranking>
	<ranking [title]='"SQL"' [rating]='2'></ranking>
	<ranking [title]='"HTML Emails"' [rating]='1'></ranking>
	<ranking [title]='"Ruby"' [rating]='1'></ranking>
</div>

<div class="company-container">
	<div>
		<a href="https://www.agilemarkets.com/#/login" target="_blank"><img src="rbs.png" class="company-logo"/></a>
	</div>
	<h4>Where and When</h4>
	<p>London - Sep '11 to Jan '15</p>
	<h4>What I did</h4>
	<p>Joined the Investment Bank Technology graduate programme and completed 2 rotations, followed by a full time developer role on the Agile Markets project. Agile Markets was a greenfield Angular web-based project.</p>
	<h4>Skills</h4>
	<ranking [title]='"UX"' [rating]='5'></ranking>
	<ranking [title]='"Agile"' [rating]='5'></ranking>
	<ranking [title]='"Splunk"' [rating]='5'></ranking>
	<ranking [title]='"Grunt"' [rating]='4'></ranking>
	<ranking [title]='"Angular"' [rating]='4'></ranking>
	<ranking [title]='"Jasmine/Karma"' [rating]='4'></ranking>
	<ranking [title]='"UX"' [rating]='4'></ranking>
	<ranking [title]='"SASS"' [rating]='3'></ranking>
	<ranking [title]='"TeamCity"' [rating]='3'></ranking>
	<ranking [title]='"Git"' [rating]='3'></ranking>
	<ranking [title]='"Selenium"' [rating]='3'></ranking>
	<ranking [title]='"Node"' [rating]='2'></ranking>
</div>

<!-- <h2>Page: {{name}}</h2>

<pre>Response from server: /users</pre>
<pre>{{ users?.name }}</pre>
<pre>{{ users?.last }}</pre> -->