<div><img src="ims.png" class="company-logo"/><h2 class="company-name">IMS Maxims</h2></div>
<h4>What I did</h4>
<p>Blurb about IMS Maxims</p>
<h4>Skills</h4>
<ranking [title]='"Angular"' [rating]='5'></ranking>
<ranking [title]='"Git"' [rating]='3'></ranking>
<ranking [title]='"Javascript"' [rating]='3'></ranking>

<h2>Fusioneer</h2>
<h4>What I did</h4>
<p>Blurb about Fusioneer</p>
<h4>Skills</h4>
<ranking [title]='"HTML"' [rating]='5'></ranking>
<ranking [title]='"CSS"' [rating]='4'></ranking>
<ranking [title]='"Ember"' [rating]='2'></ranking>

<h2>RBS Markets</h2>
<h4>What I did</h4>
<p>Blurb about RBS Markets</p>
<h4>Skills</h4>
<ranking [title]='"UX"' [rating]='5'></ranking>
<ranking [title]='"Angular"' [rating]='3'></ranking>
<ranking [title]='"Git"' [rating]='3'></ranking>


<!-- <h2>Page: {{name}}</h2>

<pre>Response from server: /users</pre>
<pre>{{ users?.name }}</pre>
<pre>{{ users?.last }}</pre> -->