.repos-container {
	display: flex;
	align-items: flex-start;
	color: #f8f8f8;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.repo {
    padding: 10px;
    background: #CC6666;
	margin: 5px;
	flex-grow: 1;
}

.repo-description {
    font-size: 12px;
}