.home-content {
	padding: 25px;
	background-color: #f8f8f8;
	height: 50%;
}

.row {
 	display: flex;
 	align-items: center;
}

.col {
 	flex: 1;
	margin: 0;
}

.home-content .summary {
	padding: 0 5px;
}

.home-content .title {
	text-align: center;
}