<div class="blog-container">
	<nav [ngClass]="{'show-menu': menu}" (click)="toggleMenu()" class="blog-navigation">
	  <p><a [routerLink]="['angular-memory-leaks']" routerLinkActive="active-menu-item">Angular Memory Leaks</a></p>
	  <p><a [routerLink]="['frontend-essentials']" routerLinkActive="active-menu-item">Frontend Developer Essentials</a></p>
	  <p><a [routerLink]="['another']" routerLinkActive="active-menu-item">Another</a></p>
	</nav>
	<button (click)="toggleMenu()" class="blog-navigation-toggler">Blog Menu</button>
	<div class="blog-content">   
		<router-outlet></router-outlet>
	</div>	
</div>	