h1 {
	color: white;
	background: darkgray;
	padding: 20px;
}

.blog-container {
    position: relative;
}

.blog-navigation {
    cursor: pointer;
	float: left;
    width: 140px;
    min-height: 50px;
    padding: 0 25px;
}

.blog-navigation-toggler {
    margin: 10px 0;
}

.blog-content {
	overflow: hidden;
    min-height: 500px;

    /*same as the home component content: */
    padding: 25px;
    background-color: #f8f8f8;
}

.blog-navigation-toggler {
    display: none;
}

@media screen and (max-width: 700px) {
    .blog-navigation {
        display: none;
    }

    .blog-navigation.show-menu {
        display: block;
        position: absolute;
        background-color: white;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 0;
    }

    .blog-navigation-toggler {
        background: none;
        border: 1px solid #CC6666;
        color: #bbb;
        margin: 10px auto;
        display: block;
    }
}

